image: "toru3/rust:latest"

test:
  stage: test
  script:
    # キャッシュの設定
    - if [ "${DISABLE_CACHE:-false}" = "false" ]; then
    -     export CARGO_HOME="$CI_PROJECT_DIR/cargo"
    -     mkdir -p "$CARGO_HOME"
    -     ln -s /usr/local/cargo/bin $CARGO_HOME/bin
    -     ln -s /usr/local/cargo/env $CARGO_HOME/env
    - fi
    # ツールのインストール
    - rustup default "$RUST_VERSION"
    # 現在のversionの表示
    - rustup --version && cargo --version
    # Cargo.lock の更新
    - if [ "${USE_MINIMAL_VERSIONS:-false}" = "false" ]; then
    -     time cargo +nightly update
    - else
    -     time cargo +nightly update -Z minimal-versions
    - fi
    - cargo fetch # ソースコードのダウンロード
    - cargo fmt --all -- --check --verbose # フォーマットチェック
    - cargo clippy --workspace --all-targets $FEATURES -- -D warnings
    - cargo test --workspace $FEATURES
  cache:
    - key: "crates-$USE_MINIMAL_VERSIONS"
      paths:
        - cargo/registry/index/
        - cargo/registry/cache/
        - cargo/git/db/
  variables:
    CARGO_UNSTABLE_SPARSE_REGISTRY: "true"
    CARGO_RESOLVER_INCOMPATIBLE_RUST_VERSIONS: "fallback"
  parallel:
    matrix:
      - RUST_VERSION:
        - "stable"
        - "beta"
        - "1.74.1" # MSRV
        USE_MINIMAL_VERSIONS:
        - "false"
        - "true"
        FEATURES:
        - "--all-features"
      - RUST_VERSION:
        - "stable"
        USE_MINIMAL_VERSIONS:
        - "false"
        FEATURES:
        - "--all-features"
        - "--no-default-features --features flate2"
        - "--no-default-features --features bzip2"
        - "--no-default-features --features xz"
        - "--no-default-features --features zstd"
        - "--no-default-features"
